*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.welcome_container{
  width: 100vw;
  min-height: 100vh;
  display: flex;

  .welcome_left{
    width: 70%;
    min-height: 100vh;
    background-image: url(./../../assets/bg/todos.svg);
    background-position: center;
    background-size: cover;
  }
  @media screen and (max-width: 1600px) {
    .welcome_left {
      width: 60%; 
    }
  }
  @media screen and (max-width: 700px) {
    .welcome_left {
      width: 0%; 
    }
  }

  .welcome_right{
    width: 30%;
    height: 100vh;
    .login_inputs_container{
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .login_inputs{
        width: 60%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login_title{
          background-color: #ffffffad;
          border-radius: 10px;
          padding: 5px 10px;
          width:'250px'; 
          font-size: 50px;
          font-weight:"500"; 
          color:'#454545';
        }
        .login_email{
          margin-top:20px;
          background-color: #ececec;
          width: 100%;
          height:60px;
          border-radius: 30px;
          display: flex;
          .email_icon_div{
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          .email_input_div{
            margin-left: 10px;
            width: 85%;
            display: flex;
            align-items: end;
            .email_input{
              border: 0;
              outline: 0;
              background-color: #ececec;
              height: 100%;
              width: 100%;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              font-size: 20px;
              
            }
          }
        }
        .login_password{
          margin-top: 20px;
          background-color: #ececec;
          width: 100%;
          height:60px;
          border-radius: 30px;
          display: flex;
          .password_icon_div{
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          .password_input_div{
            margin-left: 10px;
            width: 85%;
            display: flex;
            align-items: end;
            .password_input{
              border: 0;
              outline: 0;
              background-color: #ececec;
              height: 100%;
              width: 100%;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              font-size: 20px;
            }
          }
        }
      }
      @media screen and (max-width: 1000px) {
        .login_inputs {
          width: 70%; 
        }
      }
      @media screen and (max-width: 400px) {
        .login_inputs {
          width: 80%; 
        }
      }
    }
    @media screen and (max-width: 700px) {
      .login_inputs_container{
      background-color: #4b9fff62;

      }
    }
  }
  @media screen and (max-width: 1600px) {
    .welcome_right {
      width: 40%; 
    }
  }
  @media screen and (max-width: 700px) {
    .welcome_right {
      width: 100%;
      background-image: url(./../../assets/bg/todos.svg);
      background-position: center;
      background-size: cover; 
    }
  }
}
