.welcome_container{
  width: 100vw;
  min-height: 100vh;
  background-image: url(./../../assets/bg/candle.jpg);
  background-position: center;
  background-size: cover;

  .login_main_grid{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login_box{
      width: 35%;
      height: 300px;
      background-color: rgb(255, 255, 255);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-end-end-radius: 10px;
      border-end-start-radius: 10px;
      .sign_up{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    @media screen and (max-width: 1000px) {
      .login_box {
        width: 55%; 
      }
    }
    @media screen and (max-width: 400px) {
      .login_box {
        width: 80%; 
      }
    }
  }
  
}